*.html linguist-language=R
*.Rdata linguist-language=R
*.RData linguist-language=R
*.rda   linguist-language=R
*.rdb   linguist-language=R
*.rds   linguist-language=R
*.Rd    linguist-language=R
*.Rdx   linguist-language=R
*.Rmd	  linguist-language=R
*.R  	  linguist-language=R
*.Rproj linguist-language=R
